* {
    box-sizing: border-box;

}

body {
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105)
     0%, rgb(51, 0, 131) 100.2%);
     font-family: "Outfit", sans-serif;
     color: white;
    }
    .quiz-container {
        background-color: #f2e9fa;
    border-radius: 10px;
    padding: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 95px 386px;
    max-width: 500px;
    }
    
    h1.question {
        font-size: 1.5em;
        margin-bottom: 20px;
        color: black;
    }
    
    .quiz-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    
    .option {
        background: #f8f8f8;
        color: #333;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        transition: background-color 0.3s, box-shadow 0.3s;
        accent-color: #d2407d;
    }
    
    .option input {
        margin-right: 10px;
    }
    
    .option:hover {
        background-color: rgb(246, 145, 215);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    input[type="radio"] {
        cursor: pointer;
    }
    
   
    input[type="radio"]:focus + .option {
        outline: 2px solid rgb(195, 12, 189);
    }
    button {
        background-image: linear-gradient(92.88deg, #b54589 9.16%, #cc4365 43.89%, #d73f90 64.72%);
        border-radius: 8px;
        margin-left: 140px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 3px;
        font-size: 16px;
        font-weight: 500;
        height: 3rem;
        padding: 0 2.9rem;
        text-align: center;
    }
    button:hover{
        box-shadow: rgba(205, 63, 96, 0.5) 0 1px 30px;
        transition-duration: .1s;
      
    }
    .page{
        display: flex;
        justify-content: space-between;
        
    }
    .page h1{
        color: #333;
        font-size: 16px;
    }
    a{
        text-decoration: none;
    }
    @media (max-width: 768px) {
    .quiz-container {
        margin: 85px 3px;
    }

    h1.question {
        font-size: 1.2em;
    }

    button {
        padding: 0 1.5rem;
        margin-left: 88px;
    }
    .footer {
        text-align: center;
        margin-top: 43px;
        margin-left: -2px;
       
    }
}

@media (max-width: 480px) {
    .option {
        font-size: 14px;
    }

    .page h1 {
        font-size: 14px;
    }
}