* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
    font-family: "Outfit", sans-serif;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.quiz-container {
    background-color: #9B30FF;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .quiz-container {
        padding: 20px;
        margin: 0;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {

    h1,
    p {
        font-size: 1em;
    }
}